extend layout
block body

  section#top
    .content
      header#page-header
        h1.page-title Awesome Project
        h2.page-subtitle This Project Is Going To Be Awesome

  section#uvp
    .content
      p.big-announce 
        | Announcing something big. And awesome.
