<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="http://mindmapjournaling.us5.list-manage.com/subscribe/post?u=ae106b138ed57863083ffc9ef&amp;id=a59bd873bc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

<h2>Can't make this workshop?<br>Stay informed.</h2>
<p>Subscribe to the mailing list to be informed about future workshop and class offerings.</p>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
    <label for="mce-FNAME">First Name  <span class="asterisk">*</span>
</label>
    <input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
</div>
<div class="mc-field-group">
    <label for="mce-LNAME">Last Name  <span class="asterisk">*</span>
</label>
    <input type="text" value="" name="LNAME" class="required" id="mce-LNAME">
</div>
<div class="mc-field-group">
    <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group">
    <label for="mce-COUNTRY">Country  <span class="asterisk">*</span>
</label>
    <input type="text" value="" name="COUNTRY" class="required" id="mce-COUNTRY">
</div>
<div class="mc-field-group input-group">
    <strong>Interested in</strong>
    <ul><li><input type="checkbox" value="1" name="group[1585][1]" id="mce-group[1585]-1585-0" checked><label for="mce-group[1585]-1585-0">Workshops</label></li>
<li><input type="checkbox" value="4" name="group[1585][4]" id="mce-group[1585]-1585-1" checked><label for="mce-group[1585]-1585-1">1-on-1 Sessions</label></li>
<li><input type="checkbox" value="2" name="group[1585][2]" id="mce-group[1585]-1585-2" checked><label for="mce-group[1585]-1585-2">eBook</label></li>
<li><input type="checkbox" value="8" name="group[1585][8]" id="mce-group[1585]-1585-3" checked><label for="mce-group[1585]-1585-3">Online Classes</label></li>
<li><input type="checkbox" value="16" name="group[1585][16]" id="mce-group[1585]-1585-4" checked><label for="mce-group[1585]-1585-4">Inspiration and Journal Showcase</label></li>
</ul>
</div>
    <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
    </div>  <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
</div>

<!--End mc_embed_signup-->